@model BinaShop.Core.Models.ProductCategory

@{
    ViewBag.Title = "מחיקת קטגוריה";
}
<head>
    <link rel=stylesheet type="text/css" href="~/Content/ProductManagerDelete.css">
</head>
<h2>מחיקת קטגוריה</h2>

<h3>האם אתה בטוח כי ברצונך למחוק קטגוריה זו?</h3>
<div class="del-con">

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="מחק" class="btn btn-default" />

        </div>
        <div class="btn-link">
            @Html.ActionLink("חזור לקטגוריות", "Index")
        </div>
    }
</div>
