
@{
    ViewBag.Title = "Home Page";
    Layout=null;
}

<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <link rel=stylesheet type="text/css" href="Vendors/Css/normalize.rtl.css">
    <link rel=stylesheet type="text/css" href="~/Content/038 Grid.css">
    <link rel=stylesheet type="text/css" href="~/Content/style.css">
    <link href="https://fonts.googleapis.com/css?family=Bellefair&amp;subset=hebrew" rel="stylesheet">

    <title>לוכדי החלומות של בינה</title>
    </head>
<body>
    <header>
        <nav>
            <div class="row">
                <div class="logo">
                    <img src="~/Content/Bina_Logo.png" alt="לוגו הלוכדים של בינה">
                </div>
                <ul class="main-nav">
                    <li><a href="/Home/Products">לוכדי חלומות</a></li>
                    <li><a href="#">סדנאת לוכדי חלומות</a></li>
                    <li><a href="/ProductCategoryManager/Index">ניהול קטגוריות</a></li>
                    <li><a href="#">צור קשר</a></li>
                    <li><a href="/ProductManager/Index">מנהל</a></li>
                    <li><a href="#">התחבר</a></li>
                    <li><a href="#">הרשם</a></li>

                </ul>
            </div>
        </nav>
        <div class="bina-text-box">
            <h1>להתראות סיוטים.<br> שלום חלומות נעימים.</h1>
            <a class="btn btn-full" href="#">הרשם עכשיו</a>
            <a class="btn btn-ghost" href="#">הראה לי עוד</a>
        </div>

    </header>

    <section class="section-features">
        <div class="row">

            <h2>הלוכדים של בינה</h2>
            <p class="long-copy">
                הלוכדים של בינה נעשים בעבודת יד, לכן כל לוכד הוא מיוחד!
            </p>
        </div>

        <div clas="row">
            <div class="col span-1-of-4 box">
                <div class="icon1 big-icon">
                    <ion-icon name="heart"></ion-icon>
                </div>
                <h3>לוכדי חלומות</h3>
                <p>לוכדי חלומות במגוון עיצובים מקוריים וייחודיים שיבריחו את הסיוטים!</p>
            </div>
            <div class="col span-1-of-4 box">
                <div class="icon2 big-icon">
                    <ion-icon name="color-palette"></ion-icon>
                </div>
                <h3>סדנאות יצירה.</h3>
                <p>סדנאות יצירת לוכד חלומות אישי לילדים &mdash; הנאה מובטחת!</p>
            </div>
            <div class="col span-1-of-4 box">
                <div class="icon3 big-icon">
                    <ion-icon name="photos"></ion-icon>
                </div>
                <h3>תמונות מדליקות</h3>
                <p>תמונות מדליקות בעיצוב מקורי, שנון ומצחיק שמוסיף אוירה הביתה.</p>
            </div>
            <div class="col span-1-of-4 box">
                <div class="icon4 big-icon">
                    <ion-icon name="send"></ion-icon>
                </div>
                <h3>משלוח מהיר</h3>
                <p>לרוכשים מובטח משלוח מהיר, ככל שתמהרו להזמין, הלוכד יגיע מהר יותר.</p>
            </div>
        </div>

    </section>
    <script src="https://unpkg.com/ionicons@4.5.0/dist/ionicons.js"></script>
</body>


</html>