@{ 
    ViewBag.Title = "מנהל";
}

<h2>דף ניהול</h2>

<div class="col-md-6">
    <h4>ניהול מוצרים</h4>
    <div class="list-group">
        <a class="btn btn-full" href="/ProductCategoryManager/Index">קטגוריות מוצרים</a>
        <a class="btn btn-full" href="/ProductManager/Index">קטגוריות מוצרים</a>
        
    </div>
</div>

<div class="col-md-6">
    <h4>ניהול הזמנות</h4>
    <div class="list-group">
        <a class="btn btn-full" href="/OrderManager/Index">הזמנות</a>
    </div>
</div>