@model BinaShop.Core.ViewModels.BasketSummaryViewModel

<ul class="nav navbar-nav navbar-left" style="float:left;margin-right:205px;">
    <li><a href="@Url.Action("Index", "Basket")">@Model.BasketCount פריטים</a></li>
    <li><a href="@Url.Action("Index", "Basket")">@String.Format("{0:c}",Model.BasketTotal) </a></li>
</ul>