@{
    ViewBag.Title = "תודה!";
}
<div class="container" style="text-align:right;">
    <h2>תודה</h2>
    תודה על הזמנתכם. העסקה הושלמה וקבלה על הקנייה נשלחה אליך באימייל.<br /><br />
    הכנס לחשבון ה-PayPal שלך על מנת לצפות בפרטי העסקה.<br /><br />
    מספר ההזמנה שלכם -@ViewBag.OrderId
</div>