@model BinaShop.WebUI.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security
<style>
    .btn-facebook {
        color: #fff;
        background-color: #3b5998;
        border-color: rgba(0,0,0,0.2);
        text-align:left;
    }

    .btn-social {
        position: relative;
        padding-left: 44px;
        text-align: right;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size:13px;
    }

        .btn-social:hover {
            color: rgba(72, 107, 181, 1.00);
        }

        .btn-social :first-child {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 35px;
            padding: 1px;
            font-size: 25px;
            text-align: left;
            border-right: 1px solid rgba(0,0,0,0.2);
        }
    .btn:link,
    .btn:visited {
        display: inline-block;
        padding: 10px 30px;
        font-weight: 300;
        text-decoration: none;
        border-radius: 200px;
        transition: none;
    }
    .btn:hover,
    .btn:active {
        background-color: rgba(59, 89, 152, 0.36);
    }
</style>

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                    <button  type="submit"  class="btn"  style="background-image:url('/Content/Images/התחבר פייסבוק.jpg');width:195px;height:32px;padding-bottom:5px;padding-top:5px;" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">
                    </button>
                      
                    }
                </p>
            </div>
        }
    }
}
