/*---------------------------------*/
/*BASIC SETUP*/
/*---------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Assistant','Arial',sans-serif;
}

html {
    background-color: #fff;
    color: #fff;
    font-family: 'Assistant','Arial',sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/*---------------------------------*/
/*REUSABLE COMPONENTS*/
/*---------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 60px 0;
}


/*----HEADINGS----*/

h1,
h2,
h3 {
    font-weight: 300;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 140%;
    word-spacing: 3px;
    letter-spacing: 1px;

}

h6 {
    font-size: 20px;
    color: #465454;
    border-bottom: 1px thin #465454;
    font-weight:100;
}
.clearer {
    clear: both;
}
h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #31dbb9;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 25px;
}

.big-icon {
    font-size: 330%;
    display: block;
    color: #31dbb9;
    margin-bottom: 10px;
}



/*----paragraphs----*/
.long-copy {
    line-height: 145%;
    text-align: center;
}

.box p {
    line-height: 145%;
}

/*----BUTTONS----*/
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    font-size: 16px;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}


.btn-full:link,
.btn-full:visited {
    background-color: #AFD3D3;
    border: 1px solid #AFD3D3;
    color: #465454;

}

.btn-ghost:link,
.btn-ghost:visited {
    background-color: #465454;
    border: 1px solid #465454;
    color: #AFD3D3;
}


.btn:hover,
.btn:active {
    background-color: #BAD5DB;
}


.btn-full:hover,
.btn-full:active {
    border: 1px solid #AFD3D3;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #AFD3D3;
    color: #465454;
}

/*---------------------------------*/
/*HEADER*/
/*---------------------------------*/




.main-nav {
    color:whitesmoke;
    list-style: none;
    
}

    .main-nav li {
        display: inline-block;
        margin-right: 25px;
        max-width: fit-content;
    }

        .main-nav li a:link,
        .main-nav li a:visited {
            padding: 1px 0;
            color: rgba(0, 0, 0, 0.6);
            text-decoration: none;
            font-size: 90%;
            border-bottom: 2px solid transparent;
            transition: border-bottom 0.2s;
            max-width: fit-content;
        }

        .main-nav li a:hover,
        .main-nav li a:active {
            border-bottom: 2px solid #fff;
            max-width:fit-content;
        }

.section-features {
    color: #000;
    padding-right: 35px;
}
.backgroun_loader {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #d8f2f7;
    z-index: 99;
}
#col11 a:hover{
    text-decoration:none !important;
}

@media only screen and (min-width: 1200px) {
    #containerText{
        margin-top:10vh !important;
        margin-right:12vw !important;
        position:relative;
    }
    #logorow,#btnrow{
        padding-bottom:20px !important;
        max-width:90% !important;
    }
    .bina-text-box1 #btnrow {
        float: left;
    }
    .bina-text-box1 #logorow {
        float:left;
    }
    .bina-text-box1 {
    }
    .text-body1 {
        font-size: 11pt !important;
        position: absolute;
        right: 3.3vw !important;
        top: 28vh !important;
    }

    .text-body2 {
        font-size: 12pt;
        position: absolute;
        right: 3vw !important;
        top: 28vh !important;
    }

    .text-body3 {
        font-size: 11pt !important;
        position: absolute;
        right: 4.5vw !important;
        top: 25vh !important;
    }
}
    /*mobile*/
    @media only screen and (max-width: 425px) and (max-height:520px) {
        .text-body1 {
            font-size: 12pt;
            position: absolute;
            right: 19vw !important;
            top: 46vh !important;
        }
        .bina-text-box1 {
        float:left;
        }
            .text-body2 {
            font-size: 12pt;
            position: absolute;
            right: 24vw !important;
            top: 44vh !important;
        }

        .text-body3 {
            font-size: 12pt;
            position: absolute;
            right: 25vw !important;
            top: 42vh !important;
        }
    }

    @media only screen and (max-width: 375px) and (max-height:520px) {
        .text-body1 {
            font-size: 12pt;
            position: absolute;
            right: 18vw !important;
            top: 39vh !important;
        }

        .text-body2 {
            font-size: 12pt;
            position: absolute;
            right: 23vw !important;
            top: 38vh !important;
        }

        .text-body3 {
            font-size: 12pt;
            position: absolute;
            right: 23vw !important;
            top: 35vh !important;
        }
    }

    @media only screen and (max-width: 600px) {
        @font-face {
            font-family: 'Yiddishkeit AlefAlefAlef Bold';
            src: url('Yiddishkeit AlefAlefAlef Bold.ttf');
        }
        .bina-text-box1 {
            float: left;
        }
        #btnrow{
            float:left !important;
        }
        .text-body1 {
            font-size: 12pt;
            position: absolute;
            right: 70px;
            top: 200px;
        }

        .text-body2 {
            font-size: 12pt;
            position: absolute;
            right: 80px;
            top: 200px;
        }

        .text-body3 {
            font-size: 12pt;
            position: absolute;
            right: 90px;
            top: 190px;
        }

        #hetz {
            display: none;
        }

        #matana {
            background-color: #E2D1D8;
            width: 181px !important;
            height: 450px;
            margin-left: 4px;
            margin-right: 70px;
            flex: none;
            margin-bottom: 20px;
        }

        #masait {
            background-color: #BAD5B8;
            width: 181px !important;
            height: 450px;
            margin-left: 4px;
            margin-right: 70px;
            flex: none;
            margin-bottom: 20px;
        }

        #coins {
            background-color: #BAD5DB;
            width: 181px !important;
            height: 450px;
            margin-left: 4px;
            margin-right: 70px;
            flex: none;
            margin-bottom: 20px;
        }

        #sal {
            background-color: #D8B5B7;
            width: 181px !important;
            height: 450px;
            margin-left: 4px;
            margin-right: 70px;
            flex: none;
            margin-bottom: 20px;
        }

            #masait, #coins, #matana, #sal h5 {
                font-family: 'Yiddishkeit AlefAlefAlef Bold','Arial','sans-serif';
                font-size: 24px;
                color: #fff;
            }

        #background {
            margin-bottom: 0px;
            position: unset !important;
            height: 300px;
            background-size: 100% 100%;
            z-index: -20;
        }

        #containerText {
            margin-top: unset !important;
        }

        #logo1 {
            max-height: 170px;
            max-width: 170px;
            
        }

        .ml8 .letters {
            position: absolute !important;
            z-index: 2 !important;
            display: inline-block !important;
            line-height: 0.7em !important;
            top: -0.8em !important;
            left: 3% !important;
        }

        .ml8 .bang {
            position: absolute !important;
            font-size: 1.2em !important;
            top: -0.7em !important;
            left: -0.8em !important;
        }

        .ml8 .bang1 {
            position: absolute !important;
            font-size: 1.2em !important;
            top: -0.7em !important;
            left: -0.5em !important;
        }

        .ml8 .bang2 {
            position: absolute !important;
            font-size: 1.2em !important;
            top: -0.7em !important;
            left: -0.2em !important;
        }
    }

    /*desktop*/
    @font-face {
        font-family: 'Yiddishkeit AlefAlefAlef Bold';
        src: url('Yiddishkeit AlefAlefAlef Bold.ttf');
    }

    @media only screen and (min-width: 768px) {
        #logo1 {
            max-height: 200px;
            max-width: 200px;
            
        }

        .text-body1 {
            position: absolute;
            top: 170px !important;
            right: 45px !important;
        }

        .text-body2 {
            position: absolute;
            top: 165px !important;
            right: 50px !important;
        }

        .text-body3 {
            position: absolute;
            top: 145px !important;
            right: 65px !important;
        }

        #matana {
            background-color: #E2D1D8;
            width: 181px !important;
            height: 450px;
            margin-left: 4px;
            margin-right: 184px;
            flex: none;
            text-align: center;
        }

        #masait {
            background-color: #BAD5B8;
            width: 181px !important;
            height: 450px;
            margin-left: 4px;
            margin-right: 4px;
            flex: none;
        }

        #coins {
            background-color: #BAD5Db;
            width: 181px !important;
            height: 450px;
            margin-left: 4px;
            margin-right: 4px;
            flex: none;
        }

        #sal {
            background-color: #D8B5B7;
            width: 181px !important;
            height: 450px;
            margin-left: 131px;
            margin-right: 4px;
            flex: none;
        }

            #masait, #coins, #matana, #sal h5 {
                font-family: 'Yiddishkeit AlefAlefAlef Bold','Arial','sans-serif';
                font-size: 24px;
                color: #fff !important;
                border-bottom: 2px thick #fff;
            }

        #background {
            position: static;
            margin-bottom: 0px;
            background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(/Content/11.png);
            height: 100vh;
            background-size: 100% 100%;
            z-index: -20;
        }

        #containerText {
            margin-top: 330px;
        }
    }
    /* iphone X */
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
        @font-face {
            font-family: 'Yiddishkeit AlefAlefAlef Bold';
            src: url('Yiddishkeit AlefAlefAlef Bold.ttf');
        }

        .text-body1 {
            font-size: 12pt;
            position: absolute;
            right: 17vw;
            top: 26vh;
        }

        .text-body2 {
            font-size: 12pt;
            position: absolute;
            right: 20vw;
            top: 27vh;
        }

        .text-body3 {
            font-size: 12pt;
            position: absolute;
            right: 23vw;
            top: 23vh;
        }

        #hetz {
            display: none;
        }

        #matana {
            background-color: #E2D1D8;
            width: 181px !important;
            height: 450px;
            margin-left: 4px;
            margin-right: 70px;
            flex: none;
            margin-bottom: 20px;
        }

        #masait {
            background-color: #BAD5B8;
            width: 181px !important;
            height: 450px;
            margin-left: 4px;
            margin-right: 70px;
            flex: none;
            margin-bottom: 20px;
        }

        #coins {
            background-color: #BAD5DB;
            width: 181px !important;
            height: 450px;
            margin-left: 4px;
            margin-right: 70px;
            flex: none;
            margin-bottom: 20px;
        }

        #sal {
            background-color: #D8B5B7;
            width: 181px !important;
            height: 450px;
            margin-left: 4px;
            margin-right: 70px;
            flex: none;
            margin-bottom: 20px;
        }

            #masait, #coins, #matana, #sal h5 {
                font-family: 'Yiddishkeit AlefAlefAlef Bold','Arial','sans-serif';
                font-size: 24px;
                color: #fff;
            }

        #containerText {
            margin-top: 190px;
        }

        #background {
            position: unset !important;
            margin-bottom: 0px;
            background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(/Content/11.png);
            height: 300px;
            background-size: 100% 100%;
            z-index: -20;
        }

        #logo1 {
            max-height: 170px;
            max-width: 170px;
            position: absolute;
            top: 8vh;
            left: 9vw;
        }
    }

    /* Samsung Galaxy S5 ----------- */
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) {
        #containerText {
            margin-top: 150px;
        }
    }

    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) {

        #containerText {
            margin-top: unset !important;
        }
    }

    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) {
        .text-body1 {
            font-size: 12pt;
            position: absolute;
            right: 21vw;
            top: 30vh;
        }

        .text-body2 {
            font-size: 12pt;
            position: absolute;
            right: 24vw;
            top: 31vh;
        }

        .text-body3 {
            font-size: 12pt;
            position: absolute;
            right: 26vw;
            top: 28vh;
        }
    }

    .ml8 {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 40%;
        left: 40%;
        display: block;
        z-index: 100;
    }

    h1.ml8 {
        font-weight: 900;
        font-size: 4.5em;
        color: #fff;
        width: 3em;
        height: 3em;
    }

    .ml8 .letters-container {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        bottom: 0;
        height: 1em;
        display: inline-block;
    }

    .ml8 .letters {
        position: absolute;
        z-index: 2;
        display: inline-block;
        line-height: 0.7em;
        top: -0.8em;
        left: 40%;
    }

    .ml8 .bang {
        position: absolute;
        font-size: 1.2em;
        top: -0.7em;
        left: 0.8em;
    }

    .ml8 .bang1 {
        position: absolute;
        font-size: 1.2em;
        top: -0.7em;
        left: 0.5em;
    }

    .ml8 .bang2 {
        position: absolute;
        font-size: 1.2em;
        top: -0.7em;
        left: 0.2em;
    }

    .ml8 .circle {
        position: fixed;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        bottom: 0;
    }

    .ml8 .circle-white {
        width: 4em;
        height: 4em;
        border: 2px dashed white;
        border-radius: 2em;
    }

    .ml8 .circle-dark {
        width: 3.2em;
        height: 3.2em;
        background-color: #AFD3D3;
        border-radius: 3em;
        z-index: 1;
    }

    .ml8 .circle-dark-dashed {
        border-radius: 3em;
        background-color: transparent;
        border: 2px dashed #AFD3D3;
        width: 3.3em;
        height: 3.3em;
    }

    #mainNav {
        z-index: 3;
        height: 36px;
        padding: 0px;
        font-size: 15px;
        background-color: #AFD3D3;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    #navtoggler {
        padding-bottom: 0px;
        padding-top: 0px;
    }

    #togglericon {
        padding-bottom: 0px;
        padding-top: 0px;
        height: 24px
    }

    #navbarNav {
        text-align: -webkit-right !important;
        height: auto;
        background-color: #AFD3D3;
        padding-bottom: 8px;
        padding-top: 8px;
    }

    #ulnav {
        padding-left: 10px;
        display: flex !important;
    }

    #aadmin {
        display: grid;
    }

    #mrauto {
        padding-left: 10px;
        display: inline-flex !important;
    }

    #col1 {
        background-color: #D9E8E8;
        padding-bottom: 50px;
    }

    #col2 {
        font-size: 15px;
        text-align: right;
        color: #465454;
        padding-top: 70px;
        padding-bottom: 20px;
        padding-right: 10%;
    }

    #H6 {
        border-bottom: 1px solid rgba(70, 84, 84, 0.52);
        text-align: left;
    }

    #col3 {
        padding-top: 75px;
    }

    #col4 {
        background-color: #F7E8E0;
        padding-bottom: 90px;
        text-align: center;
        padding-top: 30px;
    }

    #col5 {
        padding-bottom: 50px;
    }

    #col6 {
        font-size: 10pt;
        padding-left: 0%;
        position: relative;
        padding-bottom: 20px;
    }

    #imgcol6 {
        width: 100%;
    }

    #col7 {
        position: relative;
    }

    #hetz {
        position: absolute;
        top: 30vh;
    }

    #col8 {
        font-size: 10pt;
        padding-left: 0%;
        position: relative;
        padding-bottom: 20px;
    }

    #tostore {
        position: absolute;
        top: 2vh;
        right: 19vw;
    }

    #col9 {
        background-color: #F2EEE3;
        padding-bottom: 90px;
        text-align: center;
        padding-top: 30px;
    }

    #imgmatana {
        height: 100px;
        width: 100px;
        margin-top: 64px;
        margin-bottom: 49px;
    }

    #H5 {
        margin-right: 1em;
        border-bottom: 4px solid #fff;
        width: 111px;
        padding-bottom: 10px;
    }

    #pMatana {
        font-weight: 600;
        font-family: 'Assistant','Arial',sans-serif;
        font-size: 15px;
        color: #fff;
    }

    #imgmasait {
        height: 96px;
        width: 134px;
        margin-top: 64px;
        margin-bottom: 49px;
    }

    #imgcoins {
        height: 98px;
        width: 109px;
        margin-top: 64px;
        margin-bottom: 49px;
    }

    #imgsal {
        height: 100px;
        width: 116px;
        margin-top: 64px;
        margin-bottom: 49px;
    }

    #col10 {
        padding-top: 30px;
        padding-bottom: 67px;
    }

    #col11 {
        text-align: center;
        padding-bottom: 100px;
    }

    #img2 {
        padding-bottom: 20px;
    }

    #H4 {
        color: #D8B5B7;
        font-family: 'Assistant','Arial',sans-serif;
        font-weight: 300;
        font-size: 13pt;
    }

    #pfooter {
        font-family: 'Assistant','Arial',sans-serif;
        font-weight: 800;
        font-size: 13pt;
    }

    #footer1 {
        text-align: center;
    }
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
}