body {
}
.table-responsive {
    color: #515151;
    word-spacing: 5px;
    border-spacing: 50px;
    border: dashed;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 80px;
    margin-left: 80px;
}
.btn-ghost{
    margin-right:80px;
}
.btn-link {
    position: absolute;
    width: 400px;
    top: 13%;
    right: 5%
}
.btn-full{
    width:100px;
}
.form-horizontal {
    position: absolute;
    width: 400px;
    top: 30%;
    right: 43%;
}
