body {
    background-color: #fff;
    color: #515151;
    font-family: 'Assistant','Arial',sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.col-md-4{
    height: auto;
    padding: 10px;
    margin-left: 30px;
    border: solid thin whitesmoke;
    float: right;

    width:auto;
}
.col-md-12 img {
    height: 250px;
    display:inline-block;
}

button {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}


.btn-full:link,
.btn-full:visited {
    background-color: #6be5cd;
    border: 1px solid #6be5cd;
    color: #2a2a2a;
    margin-left: 25px;
}