body {
}

table {
    color: #515151;
    word-spacing: 5px;
    border-spacing: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
   
}

.btn-add {

}





.form-horizontal {
    position: absolute;
    width: 400px;
    top: 30%;
    right: 43%;
}
